---
// import Welcome from "../components/Welcome.astro";
import Columna from "../components/Columna.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

import DataJson from "../assets/json/Links.json";
import LinkSocial from "../components/LinkSocial.astro";
import SubTitulo from "../components/SubTitulo.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container">
		<Hero />

		<div class="links-container">
			<!-- Columna 1 -->
			<Columna>
				<SubTitulo text="Código" />

				{
					DataJson.primer.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<!-- Columna 2 -->
			<Columna>
				<SubTitulo text="Interés" />

				{
					DataJson.segundo.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<!-- Columna 3 -->
			<Columna>
				<SubTitulo text="Mas tarde" />

				{
					DataJson.tercera.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>
		</div>

		<Footer />
	</div>
</Layout>
