---
// import Welcome from "../components/Welcome.astro";
import Columna from "../components/Columna.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

import LinkSocial from "../components/LinkSocial.astro";
import SubTitulo from "../components/SubTitulo.astro";
import ContainerGrid from "../components/ContainerGrid.astro";
import Separator from "../components/Separator.astro";
import ColumnaTitle from "../components/ColumnaTitle.astro";

import DataJson from "../assets/json/Links.json";
---

<Layout>
	<div class="container">
		<Hero />
		<SubTitulo text={DataJson.primer.title} />

		<ContainerGrid>
			<!-- Columna 1 -->
			<Columna>
				<ColumnaTitle text={DataJson.primer.subtitle1} />

				{
					DataJson.primer.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<!-- Columna 2 -->
			<Columna>
				<ColumnaTitle text={DataJson.primer.subtitle2} />

				{
					DataJson.segundo.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<!-- Columna 3 -->
			<Columna>
				<ColumnaTitle text={DataJson.primer.subtitle3} />

				{
					DataJson.tercera.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>
		</ContainerGrid>

		<Separator />

		<!-- Segunda sección -->
		<SubTitulo text={DataJson.segundo.title} />

		<ContainerGrid>
			<Columna>
				<ColumnaTitle text={DataJson.segundo.subtitle1} />
				{
					DataJson.primer.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<Columna>
				<ColumnaTitle text={DataJson.segundo.subtitle2} />

				{
					DataJson.primer.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>

			<Columna>
				<ColumnaTitle text={DataJson.segundo.subtitle3} />
				{
					DataJson.primer.links.map((param) => (
						<LinkSocial
							hrefLink={param.href}
							imgSrc={param.img.src}
							imgAlt={param.img.alt}
							spanText={param.span}
						/>
					))
				}
			</Columna>
		</ContainerGrid>
		<Footer />
	</div>
</Layout>

<style>
	.container {
		width: 90%;
		max-width: 1200px;
		margin: 40px auto;
		text-align: center;
	}
</style>
